<!-- IF S_IN_ARTICLE -->
	<div class="post bg3<!-- IF S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_AUTHOR}</div>
			<dl class="user_menu">
				<dt>
					<!-- IF POSTER_AVATAR -->
						<!-- IF U_POST_AUTHOR --><a href="{U_POST_AUTHOR}">{POSTER_AVATAR}</a><!-- ELSE -->{POSTER_AVATAR}<!-- ENDIF --><br />
					<!-- ENDIF -->
					<!-- IF not U_POST_AUTHOR --><strong>{POST_AUTHOR_FULL}</strong><!-- ELSE -->{POST_AUTHOR_FULL}<!-- ENDIF -->
				</dt>

				<!-- IF RANK_TITLE or RANK_IMG --><dd>{RANK_TITLE}<!-- IF RANK_TITLE and RANK_IMG --><br /><!-- ENDIF -->{RANK_IMG}</dd><!-- ENDIF -->

				<dd>&nbsp;</dd>

				<!-- IF POSTER_ARTICLES > 0 --><dd><strong>{L_ARTICLES}:</strong> {POSTER_ARTICLES}</dd><!-- ENDIF -->
				<!-- IF POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {POSTER_POSTS}</dd><!-- ENDIF -->
				<!-- IF POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {POSTER_JOINED}</dd><!-- ENDIF -->
				<!-- IF POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {POSTER_FROM}</dd><!-- ENDIF -->

				<!-- BEGIN custom_fields -->
					<dd><strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}</dd>
				<!-- END custom_fields -->

				<!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM and not S_IS_BOT -->
					<dd>
						<ul class="profile-icons">
							<!-- IF U_PM --><li class="pm-icon"><a href="{U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
							<!-- IF U_EMAIL --><li class="email-icon"><a href="{U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
							<!-- IF U_WWW --><li class="web-icon"><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
							<!-- IF U_MSN --><li class="msnm-icon"><a href="{U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
							<!-- IF U_ICQ --><li class="icq-icon"><a href="{U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
							<!-- IF U_YIM --><li class="yahoo-icon"><a href="{U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
							<!-- IF U_AIM --><li class="aim-icon"><a href="{U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
							<!-- IF U_JABBER --><li class="jabber-icon"><a href="{U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
						</ul>
					</dd>
				<!-- ENDIF -->
			</dl>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- IF ARTICLE_DESC -->
		<div class="post bg3">
			<div class="inner">
				<span class="corners-top"><span></span></span>
				<div class="left_menu_title">{L_DESCRIPTION}</div>
				<div style="padding-bottom: 3px;">
					<div class="content">{ARTICLE_DESC}</div>
				</div>
				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- INCLUDE kb/rate_article.html -->
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_RATINGS}</div>
			<ul style="list-style: none;" class="star-rating">
				<li class="current-rating" id="current-rating" style="width: {RATING_PX}px"></li>
				<span id="ratelinks"<!-- IF S_HAS_RATED --> style="display: none;"<!-- ENDIF -->><li><a href="javascript:rateArticle(1)" title="1 {L_STARS_OUT_OF} 6" class="one-star">1</a></li>
				<li><a href="javascript:rateArticle(2)" title="2 {L_STARS_OUT_OF} 6" class="two-stars">2</a></li>
				<li><a href="javascript:rateArticle(3)" title="3 {L_STARS_OUT_OF} 6" class="three-stars">3</a></li>
				<li><a href="javascript:rateArticle(4)" title="4 {L_STARS_OUT_OF} 6" class="four-stars">4</a></li>
				<li><a href="javascript:rateArticle(5)" title="5 {L_STARS_OUT_OF} 6" class="five-stars">5</a></li>
				<li><a href="javascript:rateArticle(6)" title="6 {L_STARS_OUT_OF} 6" class="six-stars">6</a></li></span>
			</ul>
			<span id="ratingtext">{L_CURRENT_RATING}</span>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ENDIF -->

<div class="post bg3">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div class="left_menu_title">{L_KB_STATS}</div>
		<div style="padding-bottom: 3px;" class="user_menu">
			<div><strong>{L_TOTAL_CATS}: </strong>{TOTAL_CAT}</div>
			<div><strong>{L_TOTAL_ARTICLES}: </strong>{TOTAL_ARTICLES}</div>
			<div><strong>{L_TOTAL_COMMENTS}: </strong>{TOTAL_COMMENTS}</div>
			<div><strong>{L_KB_LAST_UPDATE}: </strong>{LAST_UPDATED}</div>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>	

<!-- IF S_IN_MAIN -->
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_KB_CATS}</div>
			<div style="padding-bottom: 3px;">
				<div>List cats here with show/hide liist</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ENDIF -->

<div class="post bg3">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div class="left_menu_title">{L_SEARCH_ARTICLES}</div>
		<form id="kb_searchform" method="post" action="{U_KB_SEARCH}">
			<fieldset>
				<input name="q" id="kb_keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" style="width: 140px;" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" />
				<input class="button2" value="{L_SEARCH}" type="submit" /><br />
				{S_HIDDEN_FIELDS}
			</fieldset>
		</form>
		<div style="padding: 2px;"><a href="{U_KB_SEARCH_ADV}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>