<!-- IF S_IN_DIFF -->
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_KB_ARTICLE_REVISIONS}</div>
				<div style="padding-bottom: 3px;" class="user_menu">
				<!-- BEGIN revisions -->
					<a href="{revisions.U_VIEW_REVISION}"><strong>{L_REVISION}: </strong>{revisions.REVISION_NUM}<br />
					&nbsp;&nbsp;&nbsp;&nbsp;{revisions.REVISION_TIME}</a><br />
				<!-- BEGINELSE -->
					{L_NO_ARTICLES_REVISIONS}
				<!-- END revisions -->	
			</div>			
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_IN_MAIN -->	
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_KB_LATEST}</div>
				<div style="padding-bottom: 3px;" class="user_menu">
				<!-- IF not NO_LAST_ARTICLE -->
				<div><a href="{U_LAST_ARTICLE}"><strong><h4>{LAST_ARTICLE_TITLE}</h4></strong></a></div>
				<div>&nbsp;&nbsp;&nbsp;&nbsp;{LAST_ARTICLE_DESC}<br /><br /></div>
				<div><strong>{L_COMMENTS}: </strong>{LAST_ARTICLE_COMMENTS} | <strong>{L_VIEWS}: </strong>{LAST_ARTICLE_VIEWS}</div>
				<!-- ELSE -->
				<div>{L_NO_ARTICLES_CREATED}</div>
				<!-- ENDIF -->
			</div>			
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_KB_RAN_ART}</div>
			<div style="padding-bottom: 3px;" class="user_menu">
				<!-- IF not NO_ARTICLE -->
				<div><a href="{U_RAN_ARTICLE}"><strong><h4>{RAN_ARTICLE_TITLE}</h4></strong></a></div>
				<div>&nbsp;&nbsp;&nbsp;&nbsp;{RAN_ARTICLE_DESC}<br /><br /></div>
				<div><strong>{L_COMMENTS}: </strong>{RAN_ARTICLE_COMMENTS} | <strong>{L_VIEWS}: </strong>{RAN_ARTICLE_VIEWS}</div>
				<!-- ELSE -->
				<div>{L_NO_ARTICLES_CREATED}</div>
				<!-- ENDIF -->
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_IN_ARTICLE -->
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_RELATED_ARTICLES}</div>
			<div style="padding-bottom: 3px;">
				<div>
				<!-- BEGIN related_articles -->
					<a href="{related_articles.U_VIEW_ARTICLE}">{related_articles.TITLE}</a><br />
				<!-- BEGINELSE -->
					{L_NO_RELATED_ARTICLES}
				<!-- END related_articles -->	
					<!-- IF .related_articles -->
					<div class="pagination">
						{KB_TOTAL_RA} {KB_S_TOTAL_RA} <!-- IF KB_PAGE_NUMBER --><!-- IF KB_PAGINATION --> &bull; {KB_PAGE_NUMBER} <span>{KB_PAGINATION}</span><!-- ELSE --> &bull; {KB_PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
					</div>
					<!-- ENDIF -->
				</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_EMAIL_ARTICLE}</div>
			<div style="padding-bottom: 3px;">
				<div>Email article here</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_SOCIAL_BOOKMARK}</div>
			<div style="padding-bottom: 3px;">
				<div>
					<div class="addthis_toolbox">   
						<div class="custom_images">
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;amp;s=blogger&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/blogger.png" width="24" height="24" alt="{L_BLOGGER}" title="{L_BLOGGER} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=delicious&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/delicious.png" width="24" height="24" alt="{L_DELICIOUS}" title="{L_DELICIOUS} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=digg&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/digg.png" width="24" height="24" alt="{L_DIGG}" title="{L_DIGG} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=facebook&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/facebook.png" width="24" height="24" alt="{L_FACEBOOK}" title="{L_FACEBOOK} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=friendfeed&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/friendfeed.png" width="24" height="24" alt="{L_FRIEND_FEED}" title="{L_FRIEND_FEED} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=google&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/Google.png" width="24" height="24" alt="{L_GOOGLE}" title="{L_GOOGLE} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=linkedin&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/linkedin.png" width="24" height="24" alt="{L_LINKED_IN}" title="{L_LINKED_IN} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=live&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/live.png" width="24" height="24" alt="{L_LIVE}" title="{L_LIVE} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=mixx&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/mixx.png" width="24" height="24" alt="{L_MIXX}" title="{L_MIXX} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=myspace&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/myspace.png" width="24" height="24" alt="{L_MYSPACE}" title="{L_MYSPACE} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=netvibes&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/netvibes.png" width="24" height="24" alt="{L_NETVIBES}" title="{L_NETVIBES} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=reddit&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/reddit.png" width="24" height="24" alt="{L_REDDIT}" title="{L_REDDIT} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=stumbleupon&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/stumbleupon.png" width="24" height="24" alt="{L_STUMBLE_UPON}" title="{L_STUMBLE_UPON} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=technorati&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/technorati.png" width="24" height="24" alt="{L_TECHNORATI}" title="{L_TECHNORATI} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=twitter&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/twitter.png" width="24" height="24" alt="{L_TWITTER}" title="{L_TWITTER} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=wordpress&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE}&amp;content={ARTICLE_DESC}"><img src="{T_THEME_PATH}/images/social_bookmarking/wordpress.png" width="24" height="24" alt="{L_WORDPRESS}" title="{L_WORDPRESS} {L_THIS}" /></a>
								
						</div>
					</div>
				</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_EXPORT_ARTICLE}</div>
			<div style="padding-bottom: 3px;">
				<div>Export articles to go here</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
<!-- ENDIF -->