<table style="width: 100%">
	<tr>
		<td id="left_menu" style="width: 240px;">
			<!-- INCLUDE kb/left_menu.html -->
		</td>
		<td style="vertical-align: top;">
			<!-- IF .cat_row -->
			<table width="100%">
				<!-- BEGIN cat_row -->
				<tr>
					<!-- BEGIN cats -->
					<td style="vertical-align: top; padding-left: 10px; width: 33.3%;">
						<div class="post bg1">
							<div class="inner">
								<span class="corners-top"><span></span></span>
								<div class="left_menu_title"><a href="{cats_row.cats.U_VIEWCAT}">{cats_row.cats.CAT_NAME} ({cats_row.cats.ARTICLES})</a></div>
								<div style="padding-bottom: 3px;">
									<div>{cats_row.cats.CAT_DESC}</div>
								</div>
								<div>
									<div class="content"><!-- IF cats_row.cats.SUBCATS --><strong>{cat_row.cats.L_SUBCAT}:</strong> {cats_row.cats.SUBCATS}<!-- ENDIF --></div>
								</div>
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
					</td>
					<!-- END cats -->
					<!-- BEGIN no_cat --> 
					<td style="vertical-align: top; padding-left: 10px; width: 33.3%;">
						&nbsp;
					</td> 
					<!-- END no_cat -->
				</tr>	
				<!-- END cat_row -->
			</table>
			<!-- ENDIF -->
			
			<!-- IF .articlerow -->
			<table width="100%">
				<tr>
					<td style="vertical-align: top; padding-left: 10px;">
						<div class="topic-actions">
							<div class="buttons">
								<div class="post-icon"><a href="{U_ADD_NEW_ARTICLE}" title="{L_KB_ADD_ARTICLE}"><span></span>{L_KB_ADD_ARTICLE}</a></div>
							</div>
							
							<div class="pagination">
								{TOTAL_ARTICLES} {L_ARTICLES_LC}
								<!-- IF PAGE_NUMBER -->
									<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
								<!-- ENDIF -->
							</div>
						</div>
						<div class="forumbg">
							<div class="inner"><span class="corners-top"><span></span></span>
							<ul class="topiclist">
								<li class="header">
									<dl class="icon">
										<dt>{L_ARTICLES}</dt>
										<dd class="posts">{L_COMMENTS}</dd>
										<dd class="views">{L_VIEWS}</dd>
										<dd class="lastpost"><span>{L_AUTHOR}</span></dd>
									</dl>
								</li>
							</ul>
							<ul class="topiclist topics">
								<!-- BEGIN articlerow -->
								<li class="row<!-- IF articlerow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
									<dl class="icon" style="background-image: url({articlerow.ARTICLE_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
										<dt><!-- IF articlerow.ARTICLE_ICON_IMG and S_ARTICLE_ICONS --><img src="{T_ICONS_PATH}{articlerow.ARTICLE_ICON_IMG}" width="{ARTICLE_ICON_IMG_WIDTH}" height="{ARTICLE_ICON_IMG_HEIGHT}" />&nbsp;<!-- ENDIF --><a href="{articlerow.U_VIEW_ARTICLE}" class="topictitle">{articlerow.ARTICLE_TITLE}</a>
											<br /><!-- IF articlerow.ARTICLE_DESC -->{articlerow.ARTICLE_DESC}<!-- ENDIF -->
										</dt>
										<dd class="posts">{articlerow.COMMENTS} <dfn>{L_COMMENTS}</dfn></dd>
										<dd class="views">{articlerow.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
										<dd class="lastpost"><span>{articlerow.ARTICLE_AUTHOR_FULL}<br /><!-- IF articlerow.ATTACH_ICON_IMG -->{articlerow.ATTACH_ICON_IMG} <!-- ENDIF -->{articlerow.FIRST_POST_TIME}	</span>
										</dd>
									</dl>
								</li>
								<!-- END articlerow -->
							</ul>
							<span class="corners-bottom"><span></span></span></div>
						</div>
						<div class="topic-actions">
							<div class="buttons">
								<div class="post-icon"><a href="{U_ADD_NEW_ARTICLE}" title="{L_KB_ADD_ARTICLE}"><span></span>{L_KB_ADD_ARTICLE}</a></div>
							</div>
							
							<div class="pagination">
								{TOTAL_ARTICLES} {L_ARTICLES_LC}
								<!-- IF PAGE_NUMBER -->
									<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
								<!-- ENDIF -->
							</div>
						</div>
					</td>
				</tr>
			</table>
			<!-- ELSE -->
			<!-- IF not S_NO_TOPIC -->
			<table width="100%">
				<tr>
					<td style="vertical-align: top; padding-left: 10px;">
						<div class="topic-actions">
							<div class="buttons">
								<div class="post-icon"><a href="{U_ADD_NEW_ARTICLE}" title="{L_KB_ADD_ARTICLE}"><span></span>{L_KB_ADD_ARTICLE}</a></div>
							</div>
							
							<div class="pagination">
								{TOTAL_ARTICLES} {L_ARTICLES_LC}
								<!-- IF PAGE_NUMBER -->
									<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
								<!-- ENDIF -->
							</div>
						</div>
						
						<div class="panel">
							<div class="inner"><span class="corners-top"><span></span></span>
							<strong>{L_NO_ARTICLES}</strong>
							<span class="corners-bottom"><span></span></span></div>
						</div>
					</td>
				</tr>
			</table>
			<!-- ENDIF -->
			<!-- ENDIF -->
		</td>
		<!-- IF S_IN_MAIN -->	
		<td id="left_menu" style="width: 240px; vertical-align: top; padding-left: 10px;">
			<!-- INCLUDE kb/right_menu.html -->
		</td>
		<!-- ENDIF -->
	</tr>
</table>

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<h3>{L_KB_PERMISSIONS}</h3>
<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>