<!-- IF S_IS_MCP -->
<!-- INCLUDE mcp_header.html -->
<!-- ELSEIF S_IS_UCP -->
<!-- INCLUDE ucp_header.html -->
<!-- ELSE -->
<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->
<!-- IF not S_IS_MCP and not S_IS_UCP -->
<table style="width: 100%">
	<tr>
		<!-- IF .left_menu or not DISABLE_LEFT_MENU -->
		<td id="left_menu" style="width: {LEFT_MENU_WIDTH}; vertical-align: top;">
			<!-- INCLUDE kb/left_menu.html -->
		</td>
		<!-- ENDIF -->
		<td style="vertical-align: top; <!-- IF .left_menu or not DISABLE_LEFT_MENU --> padding-left: 10px;<!-- ENDIF --><!-- IF .right_menu or not DISABLE_RIGHT_MENU --> padding-right: 20px;<!-- ENDIF -->">
			
								<!-- IF DISABLE_LEFT_MENU --><table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<!-- IF S_EXTENDED_HEADER -->
										<td style="width: 240px; vertical-align: top;">
										<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_CONTRIBUTORS}</div><strong>{L_ARTICLE_ID}:</strong> {ARTICLE_ID}<br />
							<strong>{L_WRITTEN_BY}:</strong> {POST_AUTHOR_FULL}<br />
							<strong>{L_WRITTEN_ON}:</strong> {ARTICLE_TIME}<br />
							<strong>{L_DESCRIPTION}:</strong> {ARTICLE_DESC}<br />
							
							<div class="content">
								<dl class="codebox">
									<dt>{L_LINK_TO_THIS}:</dt>
									<dd>
										<code>{U_PERM_LINK}</code>
									</dd>
								</dl>
							</div>
						<span class="corners-bottom"><span></span></span>
		</div>
	</div>
							</td><!-- ENDIF -->
										<td style="width: 240px; vertical-align: top;<!-- IF S_EXTENDED_HEADER --> padding-left: 10px;<!-- ENDIF -->"><div class="post bg3<!-- IF S_ONLINE --> online<!-- ENDIF -->">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_AUTHOR} <a href="{U_RSS_AUTHOR}"><img src="{T_THEME_PATH}/images/feed.gif" width="14" height="14" alt="{L_RSS_AUTHOR}" title="{L_RSS_AUTHOR}" /></a></div>
			<dl class="user_menu">
				<dt>
					<!-- IF POSTER_AVATAR -->
						<!-- IF U_POST_AUTHOR --><a href="{U_POST_AUTHOR}">{POSTER_AVATAR}</a><!-- ELSE -->{POSTER_AVATAR}<!-- ENDIF --><br />
					<!-- ENDIF -->
					<!-- IF not U_POST_AUTHOR --><strong>{POST_AUTHOR_FULL}</strong><!-- ELSE -->{POST_AUTHOR_FULL}<!-- ENDIF -->
				</dt>

				<!-- IF RANK_TITLE or RANK_IMG --><dd>{RANK_TITLE}<!-- IF RANK_TITLE and RANK_IMG --><br /><!-- ENDIF -->{RANK_IMG}</dd><!-- ENDIF -->

				<dd>&nbsp;</dd>

				<!-- IF POSTER_ARTICLES > 0 --><dd><strong>{L_ARTICLES}:</strong> <a href="{U_POSTER_ARTICLES}" title="{L_SAME_AUTHOR_ARTICLES}">{POSTER_ARTICLES}</a></dd><!-- ENDIF -->
				<!-- IF POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {POSTER_POSTS}</dd><!-- ENDIF -->
				<!-- IF POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {POSTER_JOINED}</dd><!-- ENDIF -->
				<!-- IF POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {POSTER_FROM}</dd><!-- ENDIF -->

				<!-- BEGIN custom_fields -->
					<dd><strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}</dd>
				<!-- END custom_fields -->

				<!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM and not S_IS_BOT -->
					<dd>
						<ul class="profile-icons">
							<!-- IF U_PM --><li class="pm-icon"><a href="{U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
							<!-- IF U_EMAIL --><li class="email-icon"><a href="{U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
							<!-- IF U_WWW --><li class="web-icon"><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
							<!-- IF U_MSN --><li class="msnm-icon"><a href="{U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
							<!-- IF U_ICQ --><li class="icq-icon"><a href="{U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
							<!-- IF U_YIM --><li class="yahoo-icon"><a href="{U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
							<!-- IF U_AIM --><li class="aim-icon"><a href="{U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
							<!-- IF U_JABBER --><li class="jabber-icon"><a href="{U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
						</ul>
					</dd>
				<!-- ENDIF -->
			</dl>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div></td>
										<td style="width: 240px; vertical-align: top; padding-left: 10px;"><!-- INCLUDE kb/rate_article.html -->
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_RATINGS}</div>
			<ul style="list-style: none;" class="star-rating">
				<li class="current-rating" id="current-rating" style="width: {RATING_PX}px"></li>
				<span id="ratelinks"<!-- IF S_HAS_RATED --> style="display: none;"<!-- ENDIF -->><li><a href="{U_RATE_1}" title="1 {L_STARS_OUT_OF} 6" class="one-star">1</a></li>
				<li><a href="{U_RATE_2}" title="2 {L_STARS_OUT_OF} 6" class="two-stars">2</a></li>
				<li><a href="{U_RATE_3}" title="3 {L_STARS_OUT_OF} 6" class="three-stars">3</a></li>
				<li><a href="{U_RATE_4}" title="4 {L_STARS_OUT_OF} 6" class="four-stars">4</a></li>
				<li><a href="{U_RATE_5}" title="5 {L_STARS_OUT_OF} 6" class="five-stars">5</a></li>
				<li><a href="{U_RATE_6}" title="6 {L_STARS_OUT_OF} 6" class="six-stars">6</a></li></span>
			</ul>
			<span id="ratingtext">{L_CURRENT_RATING}</span>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div></td>
										<!-- IF .contribrow --><td style="width: 240px; padding-left: 10px; vertical-align: top;">
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_CONTRIBUTORS}</div>
			<div style="padding-bottom: 3px;" class="user_menu">
				<!-- BEGIN contribrow -->
				{contribrow.CONTRIBUTOR}<br />
				<!-- END contribrow -->
				<hr /><a href="{U_HISTORY}" title="{L_HISTORY}">{L_HISTORY}</a>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	</td><!-- ENDIF -->
									</tr>
								</table><!-- ENDIF -->
			<!-- ENDIF -->
				<!-- IF .changerow -->
				<div id="a" class="panel">
					<div class="inner">
						<span class="corners-top"><span></span></span>
							<div class="postbody" style="width: 100%;">
							<h4>{L_REV_CHANGES}:</h4>
							<p><!-- BEGIN changerow -->{changerow.CHANGE}<br /><!-- END changerow --></p>
							</div>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
				<!-- ENDIF -->
				<div id="a" class="<!-- IF S_IS_MCP or S_IS_UCP -->panel<!-- ELSE -->post bg1<!-- ENDIF -->">
					<div class="inner">
						<span class="corners-top"><span></span></span>
							<div class="postbody" style="width: 100%;">
								<!-- IF U_STATUS or U_DELETE or U_EDIT or U_HISTORY and not S_IS_BOT -->
									<ul class="profile-icons">
										<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_ARTICLE}"><span>{L_EDIT_ARTICLE}</span></a></li><!-- ENDIF -->
										<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_ARTICLE}"><span>{L_DELETE_ARTICLE}</span></a></li><!-- ENDIF -->
										<!-- IF U_STATUS --><li class="report-icon"><a href="{U_STATUS}" title="{L_CHANGE_STATUS}"><span>{L_CHANGE_STATUS}</span></a></li><!-- ENDIF -->
										<!-- IF U_HISTORY --><li class="info-icon"><a href="{U_HISTORY}" title="{L_HISTORY}"><span>{L_HISTORY}</span></a></li><!-- ENDIF -->
									</ul>								
								<!-- ENDIF -->								

								<!-- IF S_ARTICLE_UNAPPROVED -->
									<p class="rules">
										<!-- IF S_ARTICLE_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{U_STATUS}"><strong>{L_ARTICLE_UNAPPROVED}</strong></a><!-- ENDIF -->
									</p>
								<!-- ENDIF -->
																
							<span class="error" style="font-size: 150%">{ARTICLE_TITLE}</span> <br />
							
							<!-- IF S_EXTENDED_HEADER and not DISABLE_LEFT_MENU -->
							<strong>{L_ARTICLE_ID}:</strong> {ARTICLE_ID}<br />
							<strong>{L_WRITTEN_BY}:</strong> {POST_AUTHOR_FULL}<br />
							<strong>{L_WRITTEN_ON}:</strong> {ARTICLE_TIME}<br />
							<strong>{L_DESCRIPTION}:</strong> {ARTICLE_DESC}<br />
							
							<div class="content">
								<dl class="codebox">
									<dt>{L_LINK_TO_THIS}:</dt>
									<dd>
										<code>{U_PERM_LINK}</code>
									</dd>
								</dl>
							</div>
							<!-- ELSEIF DISABLE_LEFT_MENU and not S_EXTENDED_HEADER -->
								<p class="author">
									<img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" />{L_WRITTEN_BY} <strong>{POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {ARTICLE_TIME} 
								</p>
							<!-- ENDIF -->
							<div class="pagination">
								{ARTICLE_VIEWS}
							</div>
							<hr />
							<div class="content">{ARTICLE_MESSAGE}</div>

							<!-- IF S_HAS_ATTACHMENTS -->
								<dl class="attachbox">
									<dt>{L_ATTACHMENTS}</dt>
									<!-- BEGIN attachment -->
										<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
									<!-- END attachment -->
								</dl>
							<!-- ENDIF -->

							<!-- IF S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->

							<!-- IF EDITED_MESSAGE -->
								<div class="notice">{EDITED_MESSAGE}</div>
							<!-- ENDIF -->

							<br />

							<!-- IF SIGNATURE or ARTICLE_TAGS != '' --><div id="sig" class="signature"><!-- IF SIGNATURE -->{SIGNATURE}<!-- ENDIF --><!-- IF ARTICLE_TAGS != '' --><!-- IF SIGNATURE --><br /><!-- ENDIF --><strong>{L_TAGS}:</strong> {ARTICLE_TAGS}<!-- ENDIF --></div><!-- ENDIF -->

						</div>
					<span class="corners-bottom"><span></span></span></div>
				</div>
			
			<!-- IF DISABLE_RIGHT_MENU -->
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- IF S_RELATED_ARTICLES --><td style="width: 240px; vertical-align: top;">
	<div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_RELATED_ARTICLES}</div>
			<div style="padding-bottom: 3px;">
				<div>
				<!-- BEGIN related_articles -->
					<a href="{related_articles.U_VIEW_ARTICLE}">{related_articles.TITLE}</a><br />
				<!-- BEGINELSE -->
					{L_NO_RELATED_ARTICLES}
				<!-- END related_articles -->	
					<!-- IF .related_articles -->
					<div class="pagination">
						{KB_TOTAL_RA} {KB_S_TOTAL_RA} <!-- IF KB_PAGE_NUMBER --><!-- IF KB_PAGINATION --> &bull; {KB_PAGE_NUMBER} <span>{KB_PAGINATION}</span><!-- ELSE --> &bull; {KB_PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
					</div>
					<!-- ENDIF -->
				</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	</td><!-- ENDIF -->
					<!-- IF S_KB_EMAIL --><td style="width: 240px; <!-- IF S_RELATED_ARTICLES -->padding-left: 10px;<!-- ENDIF --> vertical-align: top;"><div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_EMAIL_ARTICLE}</div>
			<form id="kb_emailform" method="post" action="{U_KB_EMAIL}">
				<fieldset>
					<input name="email" id="kb_email" type="text" title="{L_EMAIL}" class="inputbox" style="width: 160px;" value="" />
					<input class="button2" value="{L_EMAIL}" type="submit" />
					{S_HIDDEN_FIELDS}
				</fieldset>
			</form>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div></td><!-- ENDIF -->
					<!-- IF U_WATCH_ARTICLE or U_BOOKMARK_ARTICLE or S_SOCIAL_BOOKMARKS -->
					<td style="width: 240px; <!-- IF S_KB_EMAIL or S_RELATED_ARTICLES -->padding-left: 10px;<!-- ENDIF --> vertical-align: top;"><div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_BOOKMARK_OPTIONS}</div>
			<div style="padding-bottom: 3px;">
				<div>
					<ul class="linklist">
					<!-- IF U_WATCH_ARTICLE --><li <!-- IF S_WATCHING_ARTICLE -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_ARTICLE}" title="{L_WATCH_ARTICLE}">{L_WATCH_ARTICLE}</a></li><!-- ENDIF -->
					<!-- IF U_BOOKMARK_ARTICLE --><li class="icon-bookmark"><a href="{U_BOOKMARK_ARTICLE}" title="{L_BOOKMARK_ARTICLE}">{L_BOOKMARK_ARTICLE}</a></li><!-- ENDIF -->
					</ul>
					<!-- IF S_SOCIAL_BOOKMARKS -->
					<strong>{L_SOCIAL_BOOKMARKS}:</strong>
					<div class="addthis_toolbox">   
						<div class="custom_images">
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;amp;s=blogger&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/blogger.png" width="24" height="24" alt="{L_BLOGGER}" title="{L_BLOGGER} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=delicious&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/delicious.png" width="24" height="24" alt="{L_DELICIOUS}" title="{L_DELICIOUS} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=digg&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/digg.png" width="24" height="24" alt="{L_DIGG}" title="{L_DIGG} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=facebook&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/facebook.png" width="24" height="24" alt="{L_FACEBOOK}" title="{L_FACEBOOK} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=friendfeed&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/friendfeed.png" width="24" height="24" alt="{L_FRIEND_FEED}" title="{L_FRIEND_FEED} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=google&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/Google.png" width="24" height="24" alt="{L_GOOGLE}" title="{L_GOOGLE} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=linkedin&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/linkedin.png" width="24" height="24" alt="{L_LINKED_IN}" title="{L_LINKED_IN} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=live&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/live.png" width="24" height="24" alt="{L_LIVE}" title="{L_LIVE} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=mixx&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/mixx.png" width="24" height="24" alt="{L_MIXX}" title="{L_MIXX} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=myspace&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/myspace.png" width="24" height="24" alt="{L_MYSPACE}" title="{L_MYSPACE} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=netvibes&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/netvibes.png" width="24" height="24" alt="{L_NETVIBES}" title="{L_NETVIBES} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=reddit&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/reddit.png" width="24" height="24" alt="{L_REDDIT}" title="{L_REDDIT} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=stumbleupon&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/stumbleupon.png" width="24" height="24" alt="{L_STUMBLE_UPON}" title="{L_STUMBLE_UPON} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=technorati&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/technorati.png" width="24" height="24" alt="{L_TECHNORATI}" title="{L_TECHNORATI} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=twitter&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/twitter.png" width="24" height="24" alt="{L_TWITTER}" title="{L_TWITTER} {L_THIS}" /></a>
								<a href="http://www.addthis.com/bookmark.php?pub=&amp;v=250&amp;source=men-250&amp;s=wordpress&amp;url={U_PERM_LINK}&amp;title={ARTICLE_TITLE_CLEAN}&amp;content={ARTICLE_DESC_CLEAN}" target="_blank"><img src="{T_THEME_PATH}/images/social_bookmarking/wordpress.png" width="24" height="24" alt="{L_WORDPRESS}" title="{L_WORDPRESS} {L_THIS}" /></a>	
						</div>
					</div>
					<!-- ENDIF -->
				</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div></td><!-- ENDIF -->
					<!-- IF S_EXPORT_OPTIONS -->
					<td style="width: 240px; <!-- IF U_WATCH_ARTICLE or U_BOOKMARK_ARTICLE or S_SOCIAL_BOOKMARKS or S_KB_EMAIL or S_RELATED_ARTICLES -->padding-left: 10px;<!-- ENDIF --> vertical-align: top;"><div class="post bg3">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="left_menu_title">{L_EXPORT_ARTICLE}</div>
			<div style="padding-bottom: 3px;" class="user_menu">
				<div><a href="{U_DLOAD_WORD}" title="{L_WORD}"><img src="{T_THEME_PATH}/images/word.jpg" width="14" height="14" alt="{L_WORD}" title="{L_WORD}" /> {L_WORD}</a></div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div></td><!-- ENDIF -->
				</tr>
			</table>
			<!-- ENDIF -->
			
			<!-- IF .postrow -->
				<div id="replies" class="<!-- IF S_IS_MCP or S_IS_UCP -->panel<!-- ELSE -->post bg3<!-- ENDIF -->">
					<div class="inner"><span class="corners-top"><span></span></span>
						<strong>{L_COMMENTS}</strong>
					<span class="corners-bottom"><span></span></span></div>
				</div>				
				<!-- IF S_SORT_REPLY -->
					<form id="view_blog" method="post" action="{S_POST_ACTION}">
					<fieldset class="display-options" style="margin-top: 0; ">
						<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
						<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
						<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
						<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
					</fieldset>
					</form>
				<!-- ENDIF -->
				<!-- BEGIN postrow -->
					<div id="p{postrow.ID}" class="post <!-- IF S_IS_MCP or S_IS_UCP -->pm<!-- ELSE --><!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- ENDIF --><!-- IF postrow.S_REPORTED or postrow.S_UNAPPROVED --> reported<!-- ENDIF --><!-- IF postrow.USER_FOE --> foe<!-- ENDIF --><!-- IF postrow.S_DELETED --> deleted<!-- ENDIF --><!-- IF postrow.S_ONLINE --> online<!-- ENDIF -->" style="<!-- IF postrow.S_DELETED or postrow.USER_FOE --> display: none;<!-- ENDIF -->">
						<div class="inner"><span class="corners-top"><span></span></span>
							<div class="postbody<!-- IF S_IS_MCP or S_IS_UCP --> kb-mcp-postbody<!-- ENDIF -->">
								<!-- IF postrow.U_QUOTE or postrow.U_INFO or postrow.U_DELETE or postrow.U_EDIT -->
									<ul class="profile-icons">
										<!-- IF postrow.U_EDIT --><li class="edit-icon"><a href="{postrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_DELETE --><li class="delete-icon"><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_REPORT and not postrow.S_REPORTED --><li class="report-icon"><a href="{postrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT_POST}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_WARN --><li class="warn-icon"><a href="{postrow.U_WARN}" title="{L_WARN_USER}"><span>{WARN_USER}</span></a></li><!-- ENDIF -->
										<!-- IF postrow.U_QUOTE --><li class="quote-icon"><a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_REPLY_WITH_QUOTE}</span></a></li><!-- ENDIF -->
									</ul>
								<!-- ENDIF -->

								<h3><a href="{postrow.U_VIEW}">{postrow.TITLE}</a></h3>
								<p class="author">
									<a href="{postrow.U_VIEW_PERMANENT}"><img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" /></a>{L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {postrow.POST_DATE} 
								</p>

								<div class="content">{postrow.COMMENT_MESSAGE}</div>

								<!-- IF postrow.S_HAS_ATTACHMENTS -->
									<dl class="attachbox">
										<dt>{L_ATTACHMENTS}</dt>
										<!-- BEGIN attachment -->
											<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
										<!-- END attachment -->
									</dl>
								<!-- ENDIF -->

								<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->

								<!-- IF postrow.SIGNATURE --><div class="signature">{postrow.SIGNATURE}</div><!-- ENDIF -->
							</div>

							<dl class="postprofile">
								<dt>
									<!-- IF postrow.AVATAR -->
										{postrow.AVATAR}<br />
									<!-- ENDIF -->
									<strong>{postrow.POST_AUTHOR_FULL}</strong>
								</dt>

								<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><dd>{postrow.RANK_TITLE}<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG --><br /><!-- ENDIF -->{postrow.RANK_IMG}</dd><!-- ENDIF -->

								<dd>&nbsp;</dd>

								<!-- IF postrow.POSTER_POSTS != '' --><dd><strong>{L_ARTICLES}:</strong> {postrow.POSTER_ARTICLES}</dd><!-- ENDIF -->
								<!-- IF postrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
								<!-- IF postrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {postrow.POSTER_FROM}</dd><!-- ENDIF -->

								<!-- BEGIN custom_fields -->
									<dd><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
								<!-- END custom_fields -->

								<!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM -->
									<dd>
										<ul class="profile-icons">
											<!-- IF postrow.U_PM --><li class="pm-icon"><a href="{postrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_EMAIL --><li class="email-icon"><a href="{postrow.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_WWW --><li class="web-icon"><a href="{postrow.U_WWW}" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_MSN --><li class="msnm-icon"><a href="{postrow.U_MSN}" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_ICQ --><li class="icq-icon"><a href="{postrow.U_ICQ}" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_YIM --><li class="yahoo-icon"><a href="{postrow.U_YIM}" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_AIM --><li class="aim-icon"><a href="{postrow.U_AIM}" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
											<!-- IF postrow.U_JABBER --><li class="jabber-icon"><a href="{postrow.U_JABBER}" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
										</ul>
									</dd>
								<!-- ENDIF -->
							</dl>
							<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
						<span class="corners-bottom"><span></span></span></div>
					</div>
				<!-- END postrow -->

			<form id="sort_cat" method="post" action="{S_ARTICLE_ACTION}">
			<fieldset class="display-options" style="margin-top: 0; ">
				<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
				<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
				<label>{L_KB_SORT_COMMENT_BY} {S_SORT_OPTIONS}</label> <label>{S_SORT_DIRECTION} <input type="submit" name="gosort" value="{L_GO}" class="button2" /></label>
				<!-- ENDIF -->
			</fieldset>
		
			</form>
			<!-- ENDIF -->
			<hr />

			<div class="topic-actions">
				<!-- IF U_ADD_COMMENT -->
				<div class="buttons">
					<!-- IF U_ADD_COMMENT --><div class="comment-icon"><a href="{U_ADD_COMMENT}" title="{L_KB_ADD_COMMENT}"><span></span>{L_KB_ADD_COMMENT}</a></div><!-- ENDIF -->
				</div>
				<!-- ENDIF -->
				
				<div class="pagination">
				{TOTAL_COMMENTS} {L_COMMENTS_LC}
				<!-- IF PAGE_NUMBER -->
					<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
				<!-- ENDIF -->
				</div>
			</div>
<!-- IF not S_IS_MCP and not S_IS_UCP -->
		</td>
		<!-- IF .right_menu or not DISABLE_RIGHT_MENU -->
		<td id="left_menu" style="width: {RIGHT_MENU_WIDTH}; vertical-align: top; padding-left: 10px;">
			<!-- INCLUDE kb/right_menu.html -->
		</td>
		<!-- ENDIF -->
	</tr>
</table>
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
<!-- ELSE -->
<!-- INCLUDE mcp_footer.html -->
<!-- ENDIF -->